body {
	background: rgb(128,139,255);
background: linear-gradient(90deg, rgba(128,139,255,1) 0%, rgba(255,255,255,1) 46%, rgba(112,98,128,1) 100%);
	font-family: 'Montserrat', sans-serif;
}



.main-content{
	padding: 25px 90px;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	background-color: white;
}


.about-position{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 17px;
	margin-bottom: 20px;
}


.about-name{
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 55px;
	margin-bottom: 25px;
}


.about-description{
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: black;
	width: 600px;

}


.text{
	margin-left: 19px;
	padding: 0px;
	color: white;
}

.sidebar-title {
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}

.contact1 {
	margin-bottom: 50px;
	margin-left: 40px;
}

.apple {

	display: flex;
	flex-direction: row-reverse;
	
	width: 1200px;
	margin: 0 auto;
}

.soft-skills{
	margin-left: 40px;
}

.contact-link{
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: white;

}

#tglink{
	color: rgb(0, 110, 255);
}

.skills {
	margin-left: 40px;
}


.contact-type{
	font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: white;
}



.image{
	width: 370px;
	height: 600px;
} 

.sidebar {
	width: 1170px;
	padding-top: 40px;
	background-color: #1E2939;
}

.text-top3{
	padding: 0px;
	margin-left: -19px;
	
	color: #FB6D3A;
}

.bebra{
	color: white;
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.text-top2{
	color: white;

}

.project-list{
	padding: 0;
	margin-left: 15px;
}


.about {
	margin-bottom: 40px;
}

.text-top{
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
	color: white;
}

.valera{
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: black;
}

.project-mark,
.projectm5{
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.projectm5{
	margin-left: 10px;
}

.text-top1{
	color: #FB6D3A
}

.line{
	font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: black;	
}


.period{
	margin-left: 10px;
	font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: black;

}


.project {
	margin-bottom: 50px;
	
}

.organization{
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FB6D3A;
}

.workposition{
	font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
}


.title {

	font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
margin-bottom: 10px;
}

.work-list{
	padding: 0;
	margin-left: 15px;
}


.lishku{
	font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: black;
}



#bolddd{
	color: black;
}




.work {
	
	
}

.Education {
 	
}

.string{
	font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;

}


.Education1 {
 	font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: black;
}


